*.code-workspace
backend/out/
backend/node_modules
backend/package-lock.json
backend/config.json
backend/src/testing/config.ts
backend/src/config.js
backend/src/config.json
backend/src/database.js
backend/src/dbObjects.js
backend/src/index.js
backend/src/jobScheduler.js
backend/src/res.js
backend/src/routes/apiRoute.js
backend/src/routes/loginRoute.js
backend/src/routes/teamRoute.js
backend/src/routes/weekRoute.js
backend/src/sessionManagement.js
backend/src/webserver.js
backend/src/xmlGenerator.js
*.json
backend/package.json
backend/package.json
.idea/