html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

a {
    color: white;
    cursor: pointer;
}


* {
    cursor: default;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

#title {
    border-bottom: 1px solid black;
    height: 48px;
    background-color: rgb(0, 173, 119);
    z-index: 5;
    position: relative;
    width: 100%;
}

#navigator {
    height: 28px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 120px;
    background-color: rgb(0, 99, 68);
    border-radius: 7px;
    float: left;
    margin-left: 32px;
    z-index: 100;
    overflow: hidden;
}

#changeViewButton {
    height: 28px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 40px;
    background-color: rgb(0, 99, 68);
    border-radius: 7px;
    float: left;
    margin-left: 32px;
    z-index: 100;
    overflow: hidden;
}

.navigatorButton {
    display: block;
    text-align: center;
    float: left;
    height: 100%;
    width: 40px;
    text-decoration: none;
}

.navigatorButton img {
    margin-top: calc((100% - 16px) / 4);
    cursor: pointer;
}

.navigatorButton:hover {
    background-color: rgb(0, 77, 53);
}

.navigatorButton:active {
    background-color: rgb(0, 48, 33);
}

#logo {
    height: 34px;
    margin: 8px;
    float: left;
}

#teamName {
    float: left;
    line-height: 32px;
    height: 32px;
    margin-top: 8px;
    font-size: 20px;
    color: white;
    font-family: 'Muli', sans-serif;
    border-left: 1px solid white;
    padding-left: 16px;
    margin-left: 8px;
    margin-right: 32px;
}

.arrow_box:after, .arrow_box:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box_left:after, .arrow_box_left:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;

}

.arrow_box:after {
    border-right-color: #ffffff;
    border-width: 10px;
    margin-top: -10px;
}

.arrow_box_left:after {
    border-left-color: #ffffff;
    border-width: 10px;
    margin-top: -10px;
}

input[type="text"], input[type="number"], input[type="password"], input[type="email"], textarea {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgba(0, 150, 105, .9);
    transition: border-bottom-color .2s;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus {
    border-bottom: 2px solid rgba(0, 61, 43, .9);
    outline: none;
}

pre {
    font: inherit;
    white-space: pre-wrap;
    word-wrap: break-word
}

#userArea {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    font-size: 10pt;
    color: white;
    float: right;
    position: relative;
}

#userArea > p {
    margin: calc(22px - 5pt) 8px;
}

#userArea:hover {
    background-color: rgb(0, 99, 68);
}

#changePasswordArea {
    background-color: white;
    color: black;
    display: none;
    width: calc(100% - 1px);
    border-left: 1px solid black;
    border-bottom: 1px solid black;

}

#changePasswordArea > form > input[type="submit"] {
    margin-top: 4px;
}

#changePasswordArea > form {
    padding: 4px;
}


#userArea:hover > #changePasswordArea {
    display: block;
}


