/* Bordered form */
form {
  border: 3px solid #f1f1f1;
  width: 40%;
  padding: 20px;
  margin: auto;
  position:relative;
  margin-top: auto;
}

/* Full-width inputs */
input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


label{
font-family: "verdana";
}/* Set a style for all buttons */
button {
    background-color: rgb(0, 173, 119);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}



/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 50%;
  /*border-radius: 50%;*/
}

/* Add padding to containers */
.container {
  padding: 16px;
}
.login {

position: relative;
bottom: 0;
float: right;
}
.title{
text-align: center;
font-family: "verdana";
margin-top: 50px;
font-size: 50px;
}