#teamMembers {
    width: 20%
}

#content {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    overflow-y: auto;
    width: 100%;
    height: calc(100% - 49px);
    background: #eeeeee;
}

.teamMemberElement {
    text-align: left;
    padding: 8px 8px 8px 12px;
    font-size: 16px;
}

#addTeamMember {
    font-style: italic;
}

.teamMemberElement:hover {
    background-color: #cccccc;
}

.teamMember > form {
    float: right;
}

.teamMember > form > fieldset > input[type="submit"] {
    border-radius: 0;
    background: transparent url("/img/deleteWhite.svg") no-repeat;
    background-size: contain;
    border: none;
    height: 16px;
    width: 16px;
    display: none;
    margin-top: 3px;
}

.teamMember:hover > form > fieldset > input[type="submit"] {
    display: block;
    cursor: pointer;
}

.teamMember:hover > form > fieldset > input[type="submit"]:hover {
    background-image: url("/img/deleteRed.svg");
}

#addTeamMemberPane {
    display: none;
    position: relative;
    margin-left: 80%;
    transform: translateY(-50%);
    margin-top: -18px;
    width: 30em;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    z-index: 10;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
    padding: 8px;
}

#addTeamMember:hover + #addTeamMemberPane, #addTeamMemberPane:hover {
    display: block;
}

#addTeamMemberPane > form {
    font-size: 10pt;
}

#addTeamMemberPane > form > fieldset > input {
    margin-bottom: 8px;
}

.inputName {
    width: 8em;
    font-size: 200%;
}

.inputName[name="lastname"] {
    margin-left: 4px;
}

.sectionHeading {
    font-weight: bolder;
    margin: 0;
    padding: 8px;
    color: rgb(0, 77, 53);
    text-decoration: underline;
}


#teamMembers {
    border-right: 1px solid black;
    height: 100%;
    margin: 0;
    float: left;
    position: relative;
    width: calc(20% - 1px);
}

.job {
    width: calc(100% - 24px);
    margin: 8px;
    border-radius: 3px;
    background: white;
    padding: 4px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
}

.jobTitle {
    margin: 0 4px;
    color: rgb(0, 77, 53);
    font-weight: bold;
    font-size: 16pt;
}

.jobDuration {
    margin: 0 4px 4px;
    font-size: 10pt;
}

.jobDescription {
    margin: 4px;
    font-size: 12pt;
}

.jobSectionHeading {
    margin: 8px 4px 4px;
    color: rgb(0, 77, 53);
    text-decoration: underline;
    font-weight: bolder;
}

.addMemberForm {
    margin-left: 8px;
    margin-bottom: 4px;
    margin-top: 0;
}

.addMemberForm > fieldset > select {
    margin-right: 4px;
}

#addJob {

}

#addJobContainer {
    display: none;
    margin: 4px;
}

#addJob:hover > #addJobContainer, #addJobContainer:hover {
    display: block;
}

#addJobText {
    margin: 4px;
    font-style: italic;
}

#inputTitle {
    width: 20em;
    font-size: 16pt;
    color: rgb(0, 77, 53);
}

#inputDuration {
    width: 4em;
}

#inputDescription {
    margin-top: 8px;
    width: 32em;
}

#addJobSeperator {
    width: calc(100% + 16px);
    margin: 8px -8px;
    background-color: #333333;
    height: 1px;
}

.deleteJobForm > fieldset > input[type="submit"] {
    border-radius: 0;
    background: transparent url("/img/deleteWhite.svg") no-repeat;
    background-size: contain;
    border: none;
    height: 16px;
    width: 16px;
    margin-top: 8px;
    margin-right: 8px;
    float: right;
    cursor: pointer;
}

.deleteJobForm > fieldset > input[type="submit"]:hover {
    background-image: url("/img/deleteRed.svg");
}

#graph {
    position: relative;
    height: calc(100% - 30px);
    display: none;
    overflow: auto;
}

#teamJobs {
    float: top;
    overflow-y: auto;
    height: calc(100% - 30px);
    width: 100%;
    display: none;
}

#rightView {
    height: 100%;
    margin: 0;
    float: left;
    position: relative;
    width: 80%;
}

#rightView > fieldset {
    height: 100%;
    position: relative;
    width: 100%;
}

#leftTabRadio:checked ~ #teamJobs  {
     display: block;
 }

#rightTabRadio:checked ~ #graph  {
    display: block;
}

.tabRadio {
    display: none;
}

#tabDiv {
    height: 30px;
    margin: 0;
    padding: 0;
    box-shadow: 0 7px 4px -4px gray;
    -webkit-box-shadow: 0 6px 4px -4px gray;
    -moz-box-shadow: 0 6px 4px -4px gray;
    position: relative;
}

.tabButton {
    width: 50%;
    margin: 0;
    border-bottom: 2px solid white;
    background-color: white;
    float: left;
    cursor: pointer;
    text-align: center;
    transition: border-bottom-color .3s;
    z-index: 15;
    height: 25px;
    padding-top: 3px;
}

.tabButton > span {
    font-size: 14px;
}

#leftTabRadio:checked ~ #tabDiv > #leftTabButton  {
    border-color: rgb(0, 77, 53);
}

#rightTabRadio:checked ~ #tabDiv > #rightTabButton  {
    border-color: rgb(0, 77, 53);
}

.deleteJobForm > fieldset {
    width: 16px;
    float: right;
}
