#timeline {
    float: left;
    width: 39px;
    height: 100%;
    border-right: 1px solid black;
}

.day {
    width: calc((100% - 40px) / 7 - 1px);
    height: 100%;
    margin: 0;
    border-right: 1px solid rgb(230, 230, 230);
    top: 0;
    float: left;
}

.day + .today {
    background-color: rgba(0, 209, 146, .1);
}

.jobContainer {
    width: calc((100% - 40px) / 7 - 1px);
    height: 100%;
    position: absolute;
}

#content {
    position: absolute;
    overflow-y: auto;
    width: 100%;
    height: calc(100% - 49px);
}

#scrollPane {
    width: 100%;
    height: 100%;
    position: absolute;
}

#scrollingContent {
    width: 100%;
    height: 150%;
    /*height: calc(100% - 20px);*/
    position: absolute;
}

#contentHeader {
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    width: inherit;
    z-index: 2;
    height: 40px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
}

#contentHeaderSpacer {
    width: 39px;
    float: left;
    height: 100%;
    border-right: 1px solid black;
    background: white;
}

.job {
    margin: 0 4px;
    border-radius: 3px;
    width: calc(100% - 14px);
    height: calc(20%);
    position: absolute;
    border-left: 5px solid rgba(0, 150, 105, .9);
    background-color: rgba(0, 209, 146, .5);
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.job:hover {
    background-color: rgba(0, 209, 146, .8);
    font-size: 12px;
}

.jobName {
    margin: 4px;
    color: rgb(0, 77, 53);
    font-weight: bold;
    font-size: 110%;
}

.description_right {
    margin-left: calc(100% - 10px);
    transform: translateY(-50%);
}

.description_left {
    margin-left: 5px;
    transform: translateX(-100%) translateY(-50%);
}

.job:hover + .description_left, .job:hover + .description_right, .description_left:hover, .description_right:hover{
    display: block;
}

.timeStrip {
    position: absolute;
    width: calc(100% - 40px);
    margin-left: 40px;
    height: 1px;
    background-color: rgb(230, 230, 230);
}

.timeStripSmall {
    position: absolute;
    width: calc(100% - 40px);
    margin-left: 40px;
    height: 1px;
    background-color: rgba(230, 230, 230, .3);
}

.timeValue {
    position: absolute;
    padding: 0;
    margin-top: 1px;
    margin-bottom: 0;
    font-size: 17px;
    width: 35px;
    text-align: center;
    transform: translateY(-50%);
    font-family: sans-serif;
    font-weight: lighter;
}

.jobDescr {
    display: none;
    position: absolute;
    width: 30em;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    z-index: 10;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
}

.jobDescrTitle {
    margin: 8px 16px 0;
    word-wrap: break-word;
    font-size: 20pt;
    color: rgb(0, 77, 53);
    font-weight: bold;
}

.jobDescrTime {
    margin: 2px 16px 0;
    font-size: 10pt;
    color: rgb(0, 161, 111);
}

.jobDescrDescription {
    margin: 2px 16px 0;
}

.durationInput {
    margin-top: 8px;
    margin-left: 16px;
    width: 3em;
    margin-bottom: 15px;
}

.durationMinLabel {
    font-size: 8pt;
}

.durationSaveButton {
    border-radius: 0;
    border: none;
    background-color: transparent;
    background-image: url('/img/save.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    margin-left: 8px;
    cursor: pointer;
    margin-bottom: -4px;
}

.dateMonth {
    font-size: 12px;
    font-weight: lighter;
    float: left;
    margin-top: 20px;
    margin-left: 4px;
}

.dateDay {
    font-size: 30px;
    float: left;
    margin-top: 2px;
    margin-left: 8px;
    font-weight: bold;
}

.date.today {
    background-color: rgb(0, 150, 105);
    color: white;
}

.date {
    height: 100%;
    width: calc((100% - 40px) / 7 - 1px);
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border-right: 1px solid rgb(200, 200, 200);
    background: white;
}

#currentTimeIndicator {
    width: calc(100% + 1px);
    height: 1px;
    background: #ff2a00;
    position: absolute;
    z-index: 1;
}

#currentTimeBall {
    width: 11px;
    height: 11px;
    border-radius: 5.5px;
    background: #ff2a00;
    margin-top: -5px;
    margin-left: -6px;
}

/* Non Standard-CSS: Hiding Input Fields! */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}